body
{
    background-color: blue;
}

div
{
    margin: auto;
    padding: 10px;
    background-color: white;
    width: 50%;
    height: 20%;
}

.resp
{
    margin-top: 50px;
    width: 10%;
    height: 45%;
}