body{
    background-color: pink;

}

div{
    width: 50%;
    height: 25%;
    background-color: yellow;
    padding: 15px;
    border-radius: 300px;
    transition: 2000ms;

}

div:hover{
    /*opacity: 0.5;*/
    background-color: green;
    border-radius: 20px;
    transition: 2000ms;
    transform: scale(1.1);
    /*transform: rotate(1000deg);*/

}